
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url(bg1.jpg);
	background-size: cover;
	background-position: center;
}

#myCanvas{
	border: grey 10px ridge;
	background-color: white;
}
